header {
    margin-bottom: 90px;
}

.tit-law {
    position: relative;
    max-width: 564px;
    margin: auto;
    margin-bottom: 100px;
}

header .tit-law img {
    width: 100%;
}

.tit-law::after {
    display: block;
    content: '';
    position: absolute;
    width: 225px;
    height: 225px;
    top: 50%;
    left: 50%;
    margin: -112px 0 0 -112px;
    background-image: url(../../images/title_bg.png);
    background-size: contain;
}

header .ima-txt {
    width: 486px;
} 

header .txt-desc {
    margin: 0 auto;
    max-width: 475px;
    position: relative;
    margin-top: 40px;
    line-height: 1.2;
}

header .txt-desc::before,
header .txt-desc::after {
    content: '';
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

header .txt-desc::before {
    background-image: url(../../images//txt-left.png);
    left: 5%;
    margin-top: -10px;
}

header .txt-desc::after {
    background-image: url(../../images//txt-right.png);
    right: 5%;
    margin-top: -70px;
}

header .txt-desc strong {
    font-size: 1.2em;
}
