@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2%22") format('woff2'),
        url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff%22") format('woff');
}


.wrapper {
    font-family: 'GmarketSansMedium';
    color: #fff;
    background-color: #9f26f0;
    text-align: center;
    padding: 150px 0 70px;
}

/* header 스타일 */

header {
    margin-bottom: 90px;
}

.tit-law {
    position: relative;
    max-width: 564px;
    margin: auto;
}

header .tit-law img {
    width: 100%;
}

.tit-law::after {
    display: block;
    content: '';
    position: absolute;
    width: 225px;
    height: 225px;
    top: 50%;
    left: 50%;
    margin: -112px 0 0 -112px;
    background-image: url(./images/title_bg.png);
    background-size: contain;
}
